@import "main.css";

table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 3px;
    min-width: 2em;
}

.container {
    text-align: center;
}

.container > * {
    display: inline-block;
    vertical-align: middle;
}

tr.quad > td {
    border-style: none; 
}

tr.quad > td:nth-child(4n) {
    border-right-style: solid;
}

tr.quad > td:nth-child(4n-3) {
    border-left-style: solid;
}

p.colored {
    border: 1px inset rgba(0,0,0,.25);
    display: inline-block;
    min-width: 2em;
}

p.green {
    background: lightgreen;
}

p.yellow {
    background: yellow;
}

p.orange {
    background: orange;
}

p.grey,
tr.whole > td {
    padding: 3px 10px;
    background: lightgrey;
}

tr.quad.precipitation > td {
    vertical-align: bottom;
    text-align: center;
    border-bottom-style: solid;
    padding-bottom: 2px;
}

tr.quad.precipitation > td > img {
    display: inline-block;
    margin-top: 3em;
}

tr.quad.precipitation > td > p {
    margin-top: -1.5em;
}

.scroll {
    cursor: pointer;
    align-self: center;
}

.scroll.right {
    transform: scaleX(-1);
}

#sec1 {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.absoluteTopLeft {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

#sunAndMoon {
    padding: 0;
}

#sunAndMoon > figure {
    display: inline-block;
    border: none;
    margin: 0;
    box-sizing: border-box;
    width: 50%;
}

.statusImage {
    margin: 10px;
    float: left;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.day {
    border: 1px solid black;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.day > div:not(:last-child):not(.borderless) {
    border-bottom: 1px solid black;
}

.image-container {
    width: 48px;
    height: 48px;
}

*[hidden] {
    display: none;
}

.flex .button {
    padding: 5px;
}

.flex .button:not(:last-child) {
    margin-right: -1px;
}

.flex .button:hover:active,
.flex .button[checked] {
    z-index: 1;
}
